@import "tailwindcss";

@layer base {

  html,
  body {
    @apply text-white;
    background-color: #02020a;
    /* or bg-black via Tailwind if you prefer */
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #root {
    height: 100%;
  }
}